@font-face {
  font-family: sevenSegment;
  src: url("./Fonts/seven-segment.ttf");
}

body {
  background-color: rgb(143, 117, 84);
}

.sign {
  color: rgb(54, 54, 54);
}
.calcFrame {
  background-color: rgb(204, 187, 182);
  height: 625px;
  width: 350px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 18px;
  border: 4px outset rgba(238, 231, 229, 0.308);
  filter: drop-shadow(2px 2px 2px #0000006c);
}

.brains {
  height: 100px;
  width: 325;
  display: flex;
  border: 0px solid black;
  padding-top: 20px;
  margin-left: 75%;
}

.model {
  width: 45px;
  height: 35px;
  background-color: rgb(72, 116, 72);
  color: rgb(255, 240, 155);
  text-align: right;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  padding: 5px;
  border-radius: 7px;
  border: 2px ridge rgba(238, 231, 229, 0.308);
}

.legend {
  text-align: ;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  margin-top: 26px;
}
.ui {
  display: flex;
  background-color: rgba(196, 126, 55, 0.589);
  flex-direction: column;
  width: 330px;
  border: 4px inset rgba(238, 231, 229, 0.712);
  border-radius: 22px;
}

.glass {
  height: 80px;
  background-color: rgba(36, 10, 10, 0.932);
  display: flex;
  flex-direction: row-reverse;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.numbers {
  margin-top: 25px;
  margin-right: 20px;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: sevenSegment;
  color: rgb(255, 190, 190);
  text-shadow: 0 0 5px rgb(255, 145, 182), 0 0 10px rgb(255, 104, 104),
    0 0 15px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0),
    0 0 30px rgb(204, 0, 0), 0 0 50px rgb(204, 0, 0);
}

.buttonArea {
  display: flex;
  flex-direction: column;
  border-top: 4px outset rgb(8, 6, 4);
}

.row {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.press {
  flex-direction: column;
  display: flex;
  /*
  border: 1px solid rgba(136, 136, 136, 0.5);
  */
  align-items: center;
}

button {
  width: 50px;
  height: 25px;
  background-color: rgb(43, 43, 43);
  filter: drop-shadow(2px 2px 2px #0000006c);
}

.row.first {
  flex-direction: row-reverse;
}

.row.fifth {
  padding-bottom: 20px;
}
