body {
  background-color: rgb(143, 117, 84);
}

.sign {
  color: rgb(54, 54, 54);
}
.calcFrame {
  background-color: rgb(204, 187, 182);
  height: 625px;
  width: 350px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 18px;
  border: 4px outset rgba(238, 231, 229, 0.308);
  filter: drop-shadow(2px 2px 2px #0000006c);
}

.brains {
  height: 100px;
  width: 325;
  display: flex;
  border: 0px solid black;
  padding-top: 20px; 
  margin-left: 75%;
}

.model {
  width: 45px;
  height: 35px;
  background-color: rgb(72, 116, 72);
  color: rgb(255, 240, 155);
  text-align: right;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding: 5px;
  border-radius: 7px;
  border: 3px outset rgba(238, 231, 229, 0.308);
}

.legend {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: ;
}
.ui {
  display: flex;
  background-color: rgba(196, 126, 55, 0.589);
  flex-direction: column;
  width: 330px;
  border: 4px inset rgba(238, 231, 229, 0.712);
  border-radius: 22px;

}

.glass {
  height: 80px;
  background-color: rgba(36, 10, 10, 0.932);
  display: flex;
  flex-direction: row-reverse;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.numbers {
  margin-top: 25px;
  margin-right: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: rgb(255, 40, 86);
  filter: drop-shadow(0 0 10px rgb(255, 37, 37));
}

.buttonArea {
  display: flex;
  flex-direction: column;
  border-top: 3px solid;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.press {
  flex-direction: column;
  //border: 1px solid rgba(136, 136, 136, 0.5);
}

button {
  width: 50px;
  height: 25px;
  background-color: rgb(43, 43, 43);
  filter: drop-shadow(2px 2px 2px #0000006c);
}

.row.first {
  flex-direction: row-reverse;
}

.row.fifth {
  padding-bottom: 20px;
}